@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul, li {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a,
a:hover {
  text-decoration: none; }

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  outline: none !important; }

body {
  -webkit-text-size-adjust: none;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased; }

button,
input[type=cancel],
input[type=reset],
input[type=submit]:hover {
  cursor: pointer; }

input[type=file],
input[type=password],
input[type=submit],
input[type=text],
input[type=email],
input[type=search],
textarea,
select {
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  overflow: auto; }

select::ms-expand {
  display: none; }

input::-ms-clear {
  display: none; }

/**************
END RESETT CSS
****************/
@font-face {
  font-family: "FiraSans";
  src: url("../font/FiraSans/FiraSans-Black.woff") format("woff");
  font-style: normal;
  font-weight: 900; }
@font-face {
  font-family: "FiraSans";
  src: url("../font/FiraSans/FiraSans-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700; }
@font-face {
  font-family: "FiraSans";
  src: url("../font/FiraSans/FiraSansMedium.woff") format("woff");
  font-style: normal;
  font-weight: 500; }
@font-face {
  font-family: "FiraSans";
  src: url("../font/FiraSans/FiraSans.woff") format("woff");
  font-style: normal;
  font-weight: 400; }
@font-face {
  font-family: "FiraSans";
  src: url("../font/FiraSans/FiraSansLight.woff") format("woff");
  font-style: normal;
  font-weight: 300; }
html, body {
  min-height: 100%; }

html {
  font-size: 16px; }

body {
  font-family: "FiraSans", sans-serif;
  background-color: #fff;
  color: #3c4d6b; }

img {
  max-width: 100%; }

a {
  color: #3c4d6b;
  -webkit-transition: all .2s;
  transition: all .2s; }

.wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: hidden; }

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1440px; }
  .container--lg {
    max-width: 1640px; }
  .container--lt {
    max-width: 1240px; }
  .container--fluid {
    max-width: none; }

.no-padding {
  padding-left: 0;
  padding-right: 0; }

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto; }

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto; }

.flex {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .flex--wrap {
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap; }
  .flex--center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .flex--between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }

#overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s;
  transition: all .3s;
  z-index: 10; }
  #overlay.active {
    opacity: 1;
    visibility: visible; }

.btn {
  display: inline-block;
  text-transform: uppercase;
  font-size: .9375rem;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  padding: .733em 1.333em .55em;
  text-align: center;
  white-space: nowrap;
  border-radius: 3px;
  border: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s; }
  .btn:hover {
    opacity: .8;
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
    -webkit-box-shadow: 0 8px 10px -4px rgba(0, 0, 0, 0.8);
            box-shadow: 0 8px 10px -4px rgba(0, 0, 0, 0.8); }
  .btn--green {
    background-color: #22b573;
    color: #fff; }
    .btn--green:hover {
      color: #fff; }
  .btn--white {
    background-color: #fff;
    color: #286ab3; }
  .btn--blue {
    background-color: #286ab3;
    color: #fff; }
  .btn--lg {
    padding: 1em; }
  .btn--lt {
    font-size: .875em; }
  .btn--full {
    width: 100%; }

.section {
  padding: 3em 0; }
  .section .tab-content.active {
    padding-bottom: 0; }

.white-color {
  color: #fff; }

.ico {
  display: inline-block; }
  .ico svg {
    width: 100%;
    height: 100%; }

.text-center {
  text-align: center; }

.block-title {
  text-align: center;
  margin-bottom: 3em; }
  .block-title--white {
    color: #fff; }
    .block-title--white .block__descr {
      color: rgba(255, 255, 255, 0.6); }

.block__name {
  font-size: 1.6875rem;
  line-height: 1.3;
  margin-bottom: .4em;
  font-weight: 700; }

.block__descr {
  font-size: 1rem;
  line-height: 1.3;
  color: #778191; }

.yellow {
  color: #ffecb3; }

.green {
  color: #22b573; }

.blue {
  color: #286ab3; }

.grey-bg {
  background-color: #e6eaef; }

.grey-bg-light {
  background-color: #f4f6f8; }

.blue-bg {
  background-color: #286ab3; }

.ruble::after {
  content: '\20BD';
  padding-left: .3em;
  font-size: .8em; }

.svg-sprite,
.tablet {
  display: none; }

b {
  font-weight: 700; }

/* Firefox 19+ */
/* Firefox 18- */
/* хром, сафари */
.element::-webkit-scrollbar {
  width: 0; }

/* ie 10+ */
.element {
  -ms-overflow-style: none; }

/* фф (свойство больше не работает, других способов тоже нет)*/
.element {
  overflow: -moz-scrollbars-none; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-loading .slick-list {
  background: #fff slick-image-url("../img/icons/ajax-loader.gif") center center no-repeat; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

/*Header*/
.header {
  position: relative;
  z-index: 12; }

.header__top {
  background-color: #3d4147;
  padding: 7px 0;
  color: #fff;
  font-size: 12px; }
  .header__top a {
    color: #fff; }
    .header__top a:hover {
      color: #286ab3; }
  .header__top .mobile-btn {
    display: none; }

.header__top__menu li {
  text-transform: uppercase; }
  .header__top__menu li:not(:last-child) {
    margin-right: 3em; }
  .header__top__menu li a {
    display: block;
    padding-bottom: 2px;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.3); }
    .header__top__menu li a:hover {
      border-color: #286ab3; }

.header__top__options__item:not(:first-child) {
  padding-left: 1.6em;
  margin-left: 1.6em;
  border-left: 1px solid rgba(255, 255, 255, 0.2); }
.header__top__options__item .ico {
  margin-right: .75em;
  width: 1em;
  height: 1em; }
  .header__top__options__item .ico svg {
    width: 100%;
    height: 100%; }

.user-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1.25em;
  border-radius: 5px;
  border: 1px solid #fff;
  padding: 2px 1em;
  height: 2em; }
  .user-btn:hover {
    border-color: #286ab3;
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px); }
  .user-btn .ico {
    width: 1em;
    height: 1em;
    margin-right: .75em; }
    .user-btn .ico svg {
      width: 100%;
      height: 100%; }

.header__main {
  position: relative;
  background-color: #fff;
  z-index: 12; }
  .header__main .container {
    position: relative; }

.logo .ico {
  color: #5cbef0;
  width: 2.25em;
  height: 2.25em;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  font-size: 1rem;
  margin-right: .75em; }
  .logo .ico svg {
    width: 100%;
    height: 100%; }
.logo .text__title {
  color: #5cbef0;
  font-size: 1.25em;
  font-weight: 700;
  display: block; }
.logo .text__subtitle {
  font-size: .75em;
  color: #778191;
  white-space: nowrap; }

.nav {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0 1.5em; }

.menu {
  font-size: .875rem;
  text-transform: uppercase;
  font-weight: 700;
  width: 100%; }
  .menu li {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
    .menu li.active a {
      background-color: #3d4147;
      color: #fff; }
    .menu li.active .text .ico {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg); }
    .menu li a {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding: 2.4em 1.1428em 2.5714em;
      white-space: nowrap; }
      .menu li a:hover {
        background-color: #3d4147;
        color: #fff; }
  .menu .text .ico {
    vertical-align: middle;
    width: .5em;
    height: .4em;
    margin-right: 0;
    margin-left: .1em; }
  .menu .ico {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 1em;
    height: 1em;
    margin-right: .5em; }
    .menu .ico svg {
      width: 100%;
      height: 100%; }

.dropmenu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #3d4147;
  padding: 1em 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s;
  transition: all .3s; }
  .dropmenu.visible {
    opacity: 1;
    visibility: visible; }
  .dropmenu li {
    width: 25%; }
    .dropmenu li a {
      display: block;
      color: #9ea0a3;
      font-size: .875em;
      text-transform: uppercase;
      font-weight: 700;
      padding: 1.4285em 1.4285em 1.4285em 3.8571em;
      border-radius: 3px; }
      .dropmenu li a:hover {
        color: #fff;
        background-color: #43474e; }

.header__right__phones {
  padding-left: 2em; }
  .header__right__phones a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    .header__right__phones a:hover {
      color: #22b573; }
  .header__right__phones .ico {
    width: .75em;
    height: .75em;
    margin-right: .4em;
    -webkit-transform: translateY(-0.1em);
            transform: translateY(-0.1em); }
  .header__right__phones .header__right__mail {
    display: none; }

.main-phone {
  font-size: 1.25rem;
  font-weight: 700;
  color: #286ab3;
  margin-bottom: .2em; }

.second-phone {
  font-size: .8375em; }
  .second-phone .ico {
    display: none; }

.menu-visible .header__top {
  opacity: .3; }
.menu-visible #overlay {
  opacity: 1;
  visibility: visible; }

.mobile-btn {
  color: #fff;
  width: 117px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
  background-color: #286ab3;
  display: none; }

.burger {
  width: 12px;
  margin-right: 12px; }
  .burger span {
    display: block;
    height: 2px;
    background-color: #fff;
    margin-bottom: 2px; }
    .burger span:last-child {
      margin-bottom: 0; }

.mobile-btn__text {
  font-size: 12px;
  font-weight: 700; }

/*mobile-menu*/
.mobile-menu-block {
  position: fixed;
  top: 0;
  left: 0;
  width: 90%;
  max-width: 342px;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-y: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #286ab3;
  color: #fff;
  padding: 15px 0 0;
  -webkit-transform: translateX(-110%);
          transform: translateX(-110%);
  visibility: hidden;
  -webkit-transition: all .3s;
  transition: all .3s;
  z-index: 20;
  display: none; }
  .mobile-menu-block a {
    color: #fff; }
  .mobile-menu-block .menu li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
  .mobile-menu-block .menu li a {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    font-size: 12px;
    font-weight: 700;
    padding: 15px 0; }
    .mobile-menu-block .menu li a:hover {
      background-color: transparent; }
    .mobile-menu-block .menu li a:active {
      color: #3c4d6b; }
    .mobile-menu-block .menu li a .text {
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .mobile-menu-block .menu li a .text .ico {
        margin-right: 0;
        -webkit-transform: rotate(-90deg);
                transform: rotate(-90deg); }
    .mobile-menu-block .menu li a .ico {
      margin-right: 15px; }

.mobile__menu__top {
  margin-bottom: 15px;
  padding-bottom: 15px; }

.close {
  font-size: 12px; }
  .close .ico {
    width: 9px;
    height: 9px;
    margin-right: 9px; }

.mobile-menu__content {
  margin-bottom: 40px; }

.mobile-menu__content,
.mobile-menu__bottom__link {
  padding: 0 20px; }

.mobile-menu__bottom__link {
  margin-bottom: 20px; }
  .mobile-menu__bottom__link a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 12px; }
    .mobile-menu__bottom__link a .ico {
      width: 1em;
      height: 1em;
      margin-right: 1em; }
  .mobile-menu__bottom__link .main-number {
    font-size: 14px; }
  .mobile-menu__bottom__link .mail {
    margin-top: 20px; }

.main-number {
  font-weight: 700;
  margin-bottom: 10px; }

.user-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .user-btns a {
    width: 50%;
    font-size: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 40px; }
  .user-btns .lk {
    background-color: #fff;
    color: #286ab3; }
  .user-btns .callback {
    background-color: #22b573;
    color: #fff; }

/*banner-slider*/
.banner-slider-block {
  position: relative; }
  .banner-slider-block .slick-dotted.slick-slider {
    margin-bottom: 0; }
  .banner-slider-block .slick-dots {
    bottom: 30px;
    z-index: 7; }
    .banner-slider-block .slick-dots li {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      border: 2px solid #fff; }
      .banner-slider-block .slick-dots li button {
        width: 12px;
        height: 12px; }
        .banner-slider-block .slick-dots li button::before {
          display: none; }
      .banner-slider-block .slick-dots li.slick-active {
        background-color: #22b573; }

.banner-slider__item {
  position: relative;
  color: #fff; }
  .banner-slider__item::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); }
  .banner-slider__item .container {
    position: absolute;
    height: 100%;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 1200px;
    z-index: 1; }

.mobile-row {
  margin-bottom: 3em;
  display: none; }

.banner-slider__img {
  height: 37.5em;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover; }

.banner-slider__title {
  font-size: 2.5625rem;
  font-weight: 700;
  line-height: 1.3; }

.banner-slider__subtitle {
  font-size: 1.25rem;
  line-height: 1.2; }

.logos-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 2em 0; }
  .logos-group img {
    margin-right: 2em; }

.banner-slider__text {
  line-height: 1.3;
  margin-bottom: 1.8em; }

.banner-slider__arrows {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  max-width: 1400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  z-index: 5; }

.prev-arrow,
.next-arrow {
  color: #fff;
  position: relative;
  cursor: pointer;
  z-index: 2;
  -webkit-transition: color .3s;
  transition: color .3s; }
  .prev-arrow:hover,
  .next-arrow:hover {
    color: #22b573; }

.form-container {
  width: 100%;
  height: 100%;
  padding: 0 20px;
  max-width: 1240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 6; }

/*form*/
.form-container--mobile {
  display: none; }

.form {
  width: 27.5em;
  padding: 1.8em 2.5em;
  background-color: #fff;
  border-radius: 3px; }
  .form .btn {
    margin-bottom: 1em; }

.form__title {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: .5em; }

.form__subtitle {
  color: #22b573;
  font-size: .75em;
  line-height: 1.3;
  margin-bottom: 2em; }

.input-wrapper {
  margin-bottom: 1.25em; }

.input__title {
  display: block;
  font-size: .75em;
  color: #778191;
  margin-bottom: .5em; }

.input__container {
  height: 2.5em;
  border: 1px solid #e6ecef;
  border-radius: 3px;
  padding-left: .875em; }
  .input__container .ico {
    width: .875em;
    height: .875em;
    color: #22b573;
    margin-right: 1em; }
  .input__container .input {
    display: block;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border: none;
    outline: none;
    font-size: .875rem;
    color: #3c4d6b;
    font-family: "FiraSans", sans-serif;
    padding-right: 1em; }

.form__notice {
  font-size: .6rem;
  line-height: 1.3;
  font-style: italic;
  color: #778191;
  text-align: center; }
  .form__notice a:hover {
    color: #22b573; }

/*feature*/
.feature {
  background: transparent url("../img/bg/feature_bg.png") left top no-repeat;
  position: relative; }
  .feature::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(40, 106, 179, 0.85); }
  .feature .container {
    position: relative;
    z-index: 2; }
  .feature p {
    max-width: 630px;
    margin-left: auto;
    margin-right: auto; }

.feature-step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3.75em; }

.next-item {
  font-size: .9375em;
  line-height: 1.2;
  color: rgba(255, 255, 255, 0.3);
  margin-left: 1.5em; }

.notice-section {
  line-height: 1.3; }
  .notice-section .container {
    max-width: 1040px; }

.notice-section__title {
  margin-bottom: 1.5em; }

/*tab*/
.tab-list-container {
  overflow-y: auto; }

.tab-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid #bac0c9;
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto; }
  .tab-list li {
    padding: 0 1.5em; }
    .tab-list li a {
      display: block;
      font-size: 1rem;
      font-weight: 700;
      white-space: nowrap;
      color: #778191;
      padding-bottom: .5em;
      position: relative; }
      .tab-list li a::after {
        content: '';
        width: 100%;
        height: 2px;
        background-color: #22b573;
        position: absolute;
        bottom: -1px;
        left: 0;
        opacity: 0;
        -webkit-transition: all .3s;
        transition: all .3s; }
      .tab-list li a:hover {
        color: #22b573; }
      .tab-list li a.active {
        color: #22b573; }
        .tab-list li a.active::after {
          opacity: 1; }
  .tab-list--white {
    border-color: #628fc5; }
    .tab-list--white li a {
      color: rgba(255, 255, 255, 0.6); }
      .tab-list--white li a.active {
        color: #fff; }
        .tab-list--white li a.active::after {
          background-color: #fff; }
      .tab-list--white li a:hover {
        color: #fff; }

.tab-content {
  height: 0;
  overflow: hidden; }
  .tab-content.active {
    display: block;
    height: auto;
    padding: 4.375em 0; }
  .tab-content p {
    font-size: 1.125rem;
    line-height: 1.3;
    text-align: center; }
    .tab-content p:not(:last-child) {
      margin-bottom: 1em; }

/*rates*/
.rates-slider {
  max-width: 1400px;
  margin: 0 auto; }
  .rates-slider .slick-list {
    overflow: visible;
    padding-top: 15px;
    padding-bottom: 15px; }
  .rates-slider .slick-track {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .rates-slider .slick-track::before, .rates-slider .slick-track::after {
      display: none; }

.rates__item {
  min-height: auto;
  height: auto;
  padding: 0 2em; }
  .rates__item .rates__block {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

.rate__body {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.rates__block {
  background-color: #fff;
  padding: 2em 2.5em;
  border-radius: 3px;
  width: 26.875em;
  -webkit-box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.1);
  -webkit-transition: all .3s;
  transition: all .3s; }
  .rates__block:hover {
    -webkit-box-shadow: 0 15px 20px -5px rgba(0, 0, 0, 0.2);
            box-shadow: 0 15px 20px -5px rgba(0, 0, 0, 0.2); }

.rates__block__title {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.2;
  height: 3.6em; }

.rates__price {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: .7em; }

.rate__features {
  margin-bottom: 2.5em; }
  .rate__features.flex li:not(:last-child) {
    margin-right: 1em; }
  .rate__features li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1rem;
    line-height: 1.2;
    margin-bottom: 1em; }
    .rate__features li::before {
      content: '';
      -webkit-box-flex: 0;
          -ms-flex: none;
              flex: none;
      width: .75em;
      height: .5em;
      background: transparent url("../img/icons/check_blue.svg") left top no-repeat;
      background-size: contain;
      margin-right: 1em; }
  .rate__features--green li::before {
    background-image: url("../img/icons/check_green.svg"); }

.slick-slide {
  outline: none; }

.slider-tips {
  padding: 3em 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center; }

.slider-tips__text {
  color: #778191;
  line-height: 1.4;
  margin-bottom: 1em; }

/*offers*/
.offers__list {
  margin: 0 -2em; }
  .offers__list li {
    padding: 0 2em;
    margin-bottom: 4em;
    width: 33.333%; }

.offer__item {
  background-color: #fff;
  padding: 2.5em;
  text-align: center;
  height: 100%; }

.offer__img {
  height: 8.125em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1em; }
  .offer__img img {
    max-height: 100%;
    -o-object-fit: contain;
       object-fit: contain; }

.offer__title {
  color: #286ab3;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.3;
  height: 2.6em;
  margin-bottom: .2em; }

.offer__descr {
  line-height: 1.3;
  height: 6.5em;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden; }

/*stages*/
.stages .slider-tips {
  display: none; }

.stages__list {
  margin: 0 -2em;
  counter-reset: number; }
  .stages__list li {
    width: 25%;
    padding: 0 2em; }

.stages__item {
  height: 100%;
  padding: 2em 1.8em;
  background-color: #fff;
  position: relative; }
  .stages__item.blue-bg {
    background-color: #286ab3;
    color: #fff; }
    .stages__item.blue-bg::after {
      content: '';
      width: 0;
      height: 0;
      border: 15px solid transparent;
      border-left-color: #286ab3;
      position: absolute;
      left: 100%;
      top: 3em; }
    .stages__item.blue-bg .stages__title {
      color: #fff; }

.stages__title {
  color: #286ab3;
  font-size: 1.25rem;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.5em; }
  .stages__title::before {
    content: counter(number) ".";
    counter-increment: number;
    font-size: 2em;
    margin-right: .5em; }

.stages__descr p {
  line-height: 1.3; }
  .stages__descr p:not(:last-child) {
    margin-bottom: 1em; }

/*case*/
.case-slider {
  max-width: 1400px;
  margin: 0 auto; }
  .case-slider .slick-list {
    overflow: visible; }

.case__item {
  padding: 0 1.5em; }

.case-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px; }

.case__content {
  position: relative;
  border-radius: 5px;
  width: 37.5em;
  height: 41.25em; }
  .case__content::before {
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: rgba(77, 77, 77, 0.9);
    position: absolute;
    top: 0;
    left: 0; }

.case__body {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  top: 0;
  left: 0;
  padding: 2.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff; }

.case-logo {
  position: absolute;
  top: 0;
  right: 2.5em;
  max-width: 6em; }

.case__main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 3em; }

.case__top {
  margin-bottom: 2em; }

.case-name {
  font-size: 1.8rem;
  line-height: 1.5;
  font-weight: 700; }

.case-name__descr {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.6); }

.case__title {
  font-size: 2em;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: .75em; }

.case__features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 2em; }
  .case__features li {
    width: 33.333%;
    padding-right: 1em;
    margin-bottom: 1em; }

.case__features__title {
  font-size: 1.6875em;
  font-weight: 700;
  margin-bottom: .4em; }

.case__features__descr {
  color: rgba(255, 255, 255, 0.6);
  font-size: .875em; }

/*quick-order*/
.quick-order .form__notice {
  font-size: .75em;
  color: rgba(255, 255, 255, 0.6);
  max-width: 700px;
  margin: 2em auto 0;
  padding: 3em 3em 0;
  border-top: 1px solid #3d79bb; }
  .quick-order .form__notice a {
    color: rgba(255, 255, 255, 0.6); }
    .quick-order .form__notice a:hover {
      color: #fff; }

.order-form__row {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.order-form__item {
  width: 31%;
  margin-bottom: 2em; }
  .order-form__item .input-wrapper {
    margin-bottom: 0; }
  .order-form__item .input__title {
    color: #fff;
    font-size: 12px; }
  .order-form__item .input__container {
    background-color: #3d79bb;
    border: none;
    height: 40px;
    font-size: 15px; }
  .order-form__item .input {
    background-color: #3d79bb;
    color: #fff;
    font-weight: 700;
    font-size: 15px; }
  .order-form__item .input__container .ico {
    color: #fff; }
  .order-form__item .btn {
    padding: 0;
    height: 40px; }

/*bonus*/
.bonus__item {
  width: 23%;
  height: 23.125em;
  position: relative;
  overflow: hidden;
  margin-bottom: 3.5em; }
  .bonus__item::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(40, 106, 179, 0.6);
    position: absolute;
    left: 0;
    top: 0; }
  .bonus__item--lg {
    width: 46%; }
    .bonus__item--lg::before {
      content: '';
      width: 60%;
      height: 100%;
      background: transparent url("../img/bg/bonus-shape.png") 100% center no-repeat;
      background-size: cover;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1; }
    .bonus__item--lg .bonus__item__title {
      font-size: 3.2em; }
    .bonus__item--lg .bonus__item__descr {
      font-size: 1.25rem; }

.bonus__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; }

.bonus__item__content {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #fff;
  padding: 2.5em;
  z-index: 2; }

.bonus__item__title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: .3em; }

.bonus__item__descr {
  font-size: 1.1875em;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.3;
  margin-bottom: 1.5em; }

/*video*/
.company-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

/*team*/
.team-slider {
  max-width: 1600px;
  margin: 0 auto 2em; }
  .team-slider .slick-list {
    overflow: visible; }

.team-slider__item {
  padding: 0 1em; }

.team-slider__content {
  width: 17.5em; }
  .team-slider__content img {
    width: 100%;
    height: 26.25em;
    -o-object-fit: contain;
       object-fit: contain;
    display: block;
    margin-bottom: 1.5em; }

.member-name {
  font-size: 1.25rem;
  font-weight: 700;
  color: #286ab3;
  line-height: 1.3;
  margin-bottom: .3em; }

.member-post {
  font-size: 1rem;
  color: #778191; }

/*partner*/
.partner__list {
  margin: 0 -1em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .partner__list li {
    width: 12.5em;
    padding: 0 1em;
    margin-bottom: 2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

/*Footer*/
/*media*/
@media (max-width: 1600px) {
  html {
    font-size: 1vw; }

  .header__main .logo {
    display: none; }

  .nav {
    padding-left: 0; }

  .mobile-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .mobile-row .logo {
      font-size: 14px; }
    .mobile-row .header__top__options__item {
      padding-left: 0;
      margin-left: 0;
      border: none;
      font-size: 14px;
      display: none; }

  .banner-slider__arrows {
    width: 95%; }

  .rates__item {
    padding: 0 .5em; } }
/*1600*/
@media (max-width: 1360px) {
  html {
    font-size: 1.1vw; }

  .desctop {
    display: none; }

  .tablet {
    display: block; }

  .header__top {
    padding: 0; }
    .header__top .btn {
      border-radius: 0; }
      .header__top .btn:hover {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        color: #fff; }

  .user-btn {
    border: none;
    background-color: #505459; }
    .user-btn:hover {
      -webkit-transform: translateY(0);
              transform: translateY(0); }

  .menu {
    width: auto;
    font-size: 1rem; }
    .menu li {
      -webkit-box-flex: auto;
          -ms-flex-positive: auto;
              flex-grow: auto; }

  .banner-slider__arrows {
    top: auto;
    left: 20px;
    bottom: 25px;
    width: 200px;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
    .banner-slider__arrows .slick-arrow {
      width: 10px;
      height: 20px; }
      .banner-slider__arrows .slick-arrow svg {
        width: 100%;
        height: 100%; }

  .banner-slider-block .slick-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 180px;
    left: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

  .btn {
    font-size: 14px; }

  .input__container .input {
    font-size: .75em; }

  .block-title {
    margin-bottom: 40px; }

  .block__name {
    font-size: 27px; }

  .block__descr,
  .tab-list li a,
  .tab-content p,
  .notice-section {
    font-size: 16px; }

  .section {
    padding-top: 35px;
    padding-bottom: 35px; }

  .tab-list {
    font-size: 16px; } }
/*1360*/
@media (max-width: 1024px) {
  html {
    font-size: 1.2vw; }

  .header__top__menu,
  .tablet-hide,
  .nav {
    display: none; }

  .mobile-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

  .header__top .container {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 0; }

  .header__top__options,
  .user-btn,
  .header__top .btn {
    font-size: 12px; }

  .header__top__options {
    height: 100%; }

  .header__main .container {
    padding-left: 0; }

  .header__right__phones {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 40px;
    font-size: 12px; }
    .header__right__phones a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      color: #286ab3;
      font-weight: 700;
      font-size: 12px; }
      .header__right__phones a:not(:first-child) {
        padding-left: 1em;
        margin-left: 1em;
        border-left: 1px solid #ececed; }
      .header__right__phones a .ico {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        width: 1em;
        height: 1em; }
    .header__right__phones .header__right__mail {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }

  .header__right__mail .ico {
    -webkit-transform: translateY(1px);
            transform: translateY(1px); }

  .mobile-menu-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .mobile-menu-block.active {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      visibility: visible; }

  .dropmenu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    opacity: 1;
    visibility: hidden;
    padding: 20px;
    -webkit-transform: translateX(-110%);
            transform: translateX(-110%);
    z-index: 3; }
    .dropmenu.visible {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      visibility: visible; }
    .dropmenu li {
      width: 100%;
      -webkit-box-flex: inherit;
          -ms-flex-positive: inherit;
              flex-grow: inherit; }
      .dropmenu li.dropmenu-block__item__name {
        font-size: 12px;
        padding: 15px 0; }
      .dropmenu li a {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        height: 100%; }
    .dropmenu .close-dropmenu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .dropmenu .close-dropmenu .ico {
        -webkit-transform: rotate(90deg);
                transform: rotate(90deg); }

  .header {
    z-index: 2; }

  .banner-slider__img {
    height: 470px; }

  .form {
    width: 40em; }

  .form__title {
    font-size: 1.8rem; }

  .form__subtitle {
    font-size: 1rem; }

  .input__title,
  .stages__descr {
    font-size: 12px; }

  .input__container {
    font-size: 14px;
    height: 35px; }

  .form__notice,
  .next-item {
    font-size: 10px; }

  .rates__block {
    width: 432px; }

  .rates__block__title {
    font-size: 20px; }

  .rates__price {
    font-size: 40px; }

  .rate__features li,
  .stages__title {
    font-size: 16px; }

  .rate__features {
    margin-bottom: 15px; }

  .offers__list {
    margin: 0 -1em; }

  .offers__list li {
    padding: 0 1em;
    margin-bottom: 2em; }

  .offer__title {
    font-size: 1.5rem;
    overflow: hidden; }

  .offer__descr {
    font-size: 1.25rem; }

  .stages-list-container {
    overflow-y: auto; }

  .stages__list li {
    width: 300px; }

  .stages__item {
    width: 260px;
    padding: 20px; }

  .stages .slider-tips {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

  .order-form__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }

  .order-form__item {
    width: 100%; }

  .quick-order .form__notice {
    font-size: 12px; } }
/*1024*/
@media (max-width: 1023px) {
  .tab-list {
    border: none; }

  .tab-list li {
    padding: 0 5px;
    margin-bottom: 10px; }

  .tab-list li a {
    font-size: 14px;
    padding: 6px 12px;
    background-color: #778191;
    color: #fff; }
    .tab-list li a.active {
      background-color: #22b573;
      color: #fff; }
    .tab-list li a::after {
      display: none; }

  .case__features__descr {
    font-size: 1.2rem; } }
/*1023*/
@media (max-width: 768px) {
  .banner-slider__title {
    font-size: 3.8rem;
    margin-bottom: 10px; }

  .banner-slider__subtitle,
  .banner-slider__text {
    font-size: 2rem; }

  .banner-slider__text {
    margin-bottom: 1em; }

  .banner-slider__item .container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-top: 3em; }

  .form-container--desctop {
    display: none; }

  .form-container--mobile {
    display: block; }

  .form-container {
    position: relative;
    left: 0;
    -webkit-transform: translate(0, -70px);
            transform: translate(0, -70px);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

  .form {
    width: 100%;
    -webkit-box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.3);
            box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.3); }

  .banner-slider-block .slick-dots {
    bottom: 100px; }

  .banner-slider__arrows {
    bottom: 95px; }

  .form__title {
    font-size: 20px; }

  .form__subtitle {
    font-size: 14px; }

  .input__container {
    height: 40px;
    font-size: 16px; }

  .input__container .input {
    font-size: 16px;
    font-weight: 700; }

  .btn--full {
    max-width: none; }

  .form__notice {
    margin: 0 auto; }

  .offers__list li {
    width: 50%; }

  .offer__title {
    font-size: 1.8rem; }

  .offer__descr {
    font-size: 1.5rem; }

  .offers .btn-container {
    margin-top: 40px; }

  .bonus-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }

  .bonus__item {
    width: 48%;
    height: 26em; }
    .bonus__item--lg {
      width: 100%; }

  .bonus__item__title {
    font-size: 2.4rem; }

  .bonus__item__descr {
    font-size: 1.8rem; }

  .member-name {
    font-size: 1.6rem; }

  .member-post {
    font-size: 1.3rem; }

  .partner__list li {
    width: 16.666%; } }
/*768*/
@media (max-width: 568px) {
  html {
    font-size: 1.8vw; }

  .header__main .mobile-btn,
  .header__top__options__item {
    display: none; }

  .header__top .container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .header__top .mobile-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

  .user-btn, .header__top .btn {
    height: 40px;
    font-size: 11px; }

  .header__top .btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

  .header__right__phones {
    padding-left: 20px; }

  .header__right__phones,
  .header__right {
    width: 100%; }

  .header__right__phones a {
    font-size: 10px;
    width: 33.3333%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

  .header__right__phones a:not(:first-child) {
    padding-left: 0;
    margin-left: 0; }

  .mobile-row .header__top__options__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 10px; }

  .banner-slider__img {
    height: 360px; }

  .banner-slider__item .container {
    padding-top: 15px; }

  .banner-slider__arrows {
    width: 150px;
    bottom: 85px; }

  .banner-slider-block .slick-dots {
    width: 130px;
    bottom: 90px; }

  .banner-slider-block .slick-dots li,
  .banner-slider-block .slick-dots li button {
    width: 8px;
    height: 8px;
    border-width: 1px; }

  .slider-tips__text,
  .block__descr {
    font-size: 12px; }

  .block-title {
    text-align: left; }

  .block__name {
    font-size: 16px; }

  .quick-order .form__notice {
    padding: 30px 0 0; }

  .order-form__item {
    margin-bottom: 15px; }

  .partner__list li {
    width: 20%; } }
/*568*/
@media (max-width: 480px) {
  .rates__block {
    width: 300px; }

  .rates__block__title,
  .rate__features li {
    font-size: 12px; }

  .rates__price {
    font-size: 25px; }

  .rate__features li img {
    height: 20px;
    -o-object-fit: contain;
       object-fit: contain; }

  .offers__list li {
    width: 100%;
    margin-bottom: 15px; }

  .offer__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

  .offer__descr {
    width: 100%;
    margin-top: 20px;
    font-size: 12px;
    text-align: left; }

  .offer__img {
    width: 50px;
    height: 50px;
    margin-bottom: 0; }

  .offer__title {
    width: calc(100% - 60px);
    text-align: left;
    padding-left: 10px;
    margin-bottom: 0;
    height: auto;
    font-size: 16px; }

  .offers .btn-container {
    margin-top: 10px; }
    .offers .btn-container .btn {
      width: 100%; }

  .case__content {
    width: 43em;
    height: 47em; }

  .case-name,
  .case__features__title {
    font-size: 2.2rem; }

  .case-name__descr {
    font-size: 1.8rem; }

  .case__title {
    font-size: 2.4rem; }

  .case__features li {
    width: 50%; }

  .case__features__descr {
    font-size: 1.5rem; }

  .bonus__item {
    width: 100%;
    height: 160px;
    margin-bottom: 20px; }

  .bonus__item__title,
  .bonus__item--lg .bonus__item__title {
    font-size: 18px; }

  .bonus__item--lg .bonus__item__descr,
  .bonus__item__descr {
    font-size: 12px; } }
/*480*/
@media (max-width: 399px) {
  .header__top .btn,
  .header__right__phones a .ico {
    display: none; }

  .case__content {
    width: 48em;
    height: 55em; }

  .member-name {
    font-size: 1.8rem; }

  .member-post {
    font-size: 1.5rem; } }
/*399*/

/*# sourceMappingURL=style.css.map */