/*media*/ 
@media(max-width: 1600px){
	html{
		font-size: 1vw;
	}
	.header__main{
		.logo{
			display: none;
		}
	}
	.nav{
		padding-left: 0;
	}
	.mobile-row{
		display: flex;
		justify-content: space-between;
		align-items: center;
		.logo{
			font-size: 14px;
		}
		.header__top__options__item{
			padding-left: 0;
			margin-left: 0;
			border: none;
			font-size: 14px;
			display: none;
		}
	}
	.banner-slider__arrows{
		width: 95%;
	}
	.rates__item{
		padding: 0 .5em;
	}
}
/*1600*/ 
@media(max-width: 1360px){
	html{
		font-size: 1.1vw;
	}
	.desctop{
		display: none;
	}
	.tablet{
		display: block;
	}
	.header__main{

	}
	.header__top{
		padding: 0;
		.btn{
			border-radius: 0;
			&:hover{
				transform: translateY(0);
				color: #fff;
			}
		}
	}
	.user-btn{
		border: none;
		background-color: #505459;
		&:hover{
			transform: translateY(0);
		}
	}
	.menu{
		width: auto;
		font-size: 1rem;
		li{
			flex-grow: auto;
		}
	}
	.banner-slider__arrows{
		top: auto;
		left: 20px;
		bottom: 25px;
		width: 200px;
		transform: translate(0, 0);
		.slick-arrow{
			width: 10px;
			height: 20px;
			svg{
				width: 100%;
				height: 100%;
			}
		}
	}
	.banner-slider-block .slick-dots{
		display: flex;
		width: 180px;
		left: 30px;
		justify-content: center;
	}
	.btn{
		font-size: 14px;
	}
	.input__container .input{
		font-size: .75em;
	}
	.block-title{
		margin-bottom: 40px;
	}
	.block__name{
		font-size: 27px;
	}
	.block__descr,
	.tab-list li a,
	.tab-content p,
	.notice-section{
		font-size: 16px;
	}
	.section{
		padding-top: 35px;
		padding-bottom: 35px;
	}
	.tab-list{
		font-size: 16px;
	}
}
/*1360*/ 

@media(max-width: 1024px){
	html{
		font-size: 1.2vw;
	}
	.header__top__menu,
	.tablet-hide,
	.nav{
		display: none;
	}
	.mobile-btn{
		display: flex;
	}
	.header__top{
		.container{
			justify-content: flex-end;
			padding: 0;
		}
	}
	.header__top__options,
	.user-btn,
	.header__top .btn{
		font-size: 12px;
	}
	.header__top__options{
		height: 100%;
	}
	.header__main{
		.container{
			padding-left: 0;
		}
	}
	.header__right__phones{
		display: flex;
		align-items: center;
		height: 40px;
		font-size: 12px;
		a{
			display: flex;
			align-items: center;
			color: $blue;
			font-weight: 700;
			font-size: 12px;
			&:not(:first-child){
				padding-left: 1em;
				margin-left: 1em;
				border-left: 1px solid #ececed;
			}
			.ico{
				display: flex;
				align-items: center;
				justify-content: center;
				width: 1em;
				height: 1em;
			}
		}
		.header__right__mail{
			display: flex;
		}
	}
	.header__right__mail{
		.ico{
			transform: translateY(1px);
		}
	}
	.mobile-menu-block{
		display: flex;
		&.active{
			transform: translateX(0);
			visibility: visible;
		}
	}
	.dropmenu{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		overflow-y: auto;
		opacity: 1;
		visibility: hidden;
		padding: 20px;
		transform: translateX(-110%);
		z-index: 3;
		&.visible{
			transform: translateY(0);
			visibility: visible;
		}
		li{
			width: 100%;
			flex-grow: inherit;
			&.dropmenu-block__top{

			}
			&.dropmenu-block__item__name{
				font-size: 12px;
				padding: 15px 0;
			}
			a{
				align-items: center;
				height: 100%;
			}
		}
		.close-dropmenu{
			display: flex;
			align-items: center;
			.ico{
				transform: rotate(90deg);
			}
		}
	}
	.header{
		z-index: 2;
	}
	.banner-slider__img{
		height: 470px
	}
	.banner-slider__item{

	}
	.form{
		width: 40em;
	}
	.form__title{
		font-size: 1.8rem;
	}
	.form__subtitle{
		font-size: 1rem;
	}
	.input__title,
	.stages__descr{
		font-size: 12px;
	}
	.input__container{
		font-size: 14px;
		height: 35px;
	}
	.form__notice,
	.next-item{
		font-size: 10px;
	}
	.rates__block{
		width: 432px;
	}
	.rates__block__title{
		font-size: 20px;
	}
	.rates__price{
		font-size: 40px;
	}
	.rate__features li,
	.stages__title{
		font-size: 16px;
	}
	.rate__features{
		margin-bottom: 15px;
	}
	.offers__list{
		margin: 0 -1em;
	}
	.offers__list li{
		padding: 0 1em;
		margin-bottom: 2em;
	}
	.offer__title{
		font-size: 1.5rem;
		overflow: hidden;
	}
	.offer__descr{
		font-size: 1.25rem;
	}
	.stages-list-container{
		overflow-y: auto;
	}
	.stages__list li{
		width: 300px;
	}
	.stages__item{
		width: 260px;
		padding: 20px;
	}
	.stages .slider-tips{
		display: flex;
	}
}
/*1024*/ 

@media(max-width: 1023px){
	.tab-list{
		border: none;
	}
	.tab-list li{
		padding: 0 5px;
		margin-bottom: 10px;
	}
	.tab-list li a{
		font-size: 14px;
		padding: 6px 12px;
		background-color: #778191;
		color: #fff;
		&.active{
			background-color: $green;
			color: #fff;
		}
		&::after{
			display: none;
		}
	}
}
/*1023*/
@media(max-width: 768px){
	
	.banner-slider__title{
		font-size: 3.8rem;
		margin-bottom: 10px;
	}
	.banner-slider__subtitle,
	.banner-slider__text{
		font-size: 2rem;
	}
	.banner-slider__text{
		margin-bottom: 1em;
	}
	.banner-slider__item .container{
		justify-content: flex-start;
		padding-top: 3em;
	}
	.form-container--desctop{
		display: none;
	}
	.form-container--mobile{
		display: block;
	}
	.form-container{
		position: relative;
		left: 0;
		transform: translate(0, -70px);
		justify-content: center;
	}
	.form{
		width: 100%;
		box-shadow: 0 10px 20px -5px rgba(#000, .3);
	}
	.banner-slider-block .slick-dots{
		bottom: 100px;
	}
	.banner-slider__arrows{
		bottom: 95px;
	}
	.form__title{
		font-size: 20px;
	}
	.form__subtitle{
		font-size: 14px;
	}
	.input__container{
		height: 40px;
		font-size: 16px;
	}
	.input__container .input{
		font-size: 16px;
		font-weight: 700;
	}
	.btn--full{
		max-width: none;
	}
	.form__notice{
		margin: 0 auto;
	}
	.offers__list li{
		width: 50%;
	}
	.offer__title{
		font-size: 1.8rem;
	}
	.offer__descr{
		font-size: 1.5rem;
	}
	.offers{
		.btn-container{
			margin-top: 40px;
		}
	}
}
/*768*/ 

@media(max-width: 568px){
	html{
		font-size: 1.8vw;
	}
	.header__main .mobile-btn,
	.header__top__options__item{
		display: none;
	}
	.header__top{
		.container{
			justify-content: space-between;
		}
		.mobile-btn{
			display: flex;
		}
	}
	.user-btn, .header__top .btn{
		height: 40px;
		font-size: 11px;
	}
	.header__top .btn{
		display: flex;
		align-items: center;
	}
	.header__right__phones{
		padding-left: 20px;
	}
	.header__right__phones,
	.header__right{
		width: 100%;
	}
	.header__right__phones a{
		font-size: 10px;
		width: 33.3333%;
		justify-content: center;
	}
	.header__right__phones a:not(:first-child){
		padding-left: 0;
		margin-left: 0;
	}
	.mobile-row{
		.header__top__options__item{
			display: flex;
			font-size: 10px;
		}
	}
	.banner-slider__img{
		height: 360px;
	}
	.banner-slider__item .container{
		padding-top: 15px;
	}
	.banner-slider__arrows{
		width: 150px;
		bottom: 85px;
	}
	.banner-slider-block .slick-dots{
		width: 130px;
		bottom: 90px;
	}

	.banner-slider-block .slick-dots li,
	.banner-slider-block .slick-dots li button{
		width: 8px;
		height: 8px;
		border-width: 1px;
	}
	.slider-tips__text,
	.block__descr{
		font-size: 12px;
	}
	.block-title{
		text-align: left;
	}
	.block__name{
		font-size: 16px;
	}
}
/*568*/

@media(max-width: 480px){
	.rates__block{
		width: 300px;
	}
	.rates__block__title,
	.rate__features li{
		font-size: 12px;
	}
	.rates__price{
		font-size: 25px;
	}
	.rate__features li{
		img{
			height: 20px;
			object-fit: contain;
		}
	}
	.offers__list li{
		width: 100%;
		margin-bottom: 15px;
	}
	.offer__item{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}
	.offer__descr{
		width: 100%;
		margin-top: 20px;
		font-size: 12px;
		text-align: left;
	}
	.offer__img{
		width: 50px;
		height: 50px;
		margin-bottom: 0;
	}
	.offer__title{
		width: calc(100% - 60px);
		text-align: left;
		padding-left: 10px;
		margin-bottom: 0;
		height: auto;
		font-size: 16px;
	}
	.offers .btn-container{
		margin-top: 10px;
		.btn{
			width: 100%;
		}
	}
}

@media(max-width: 399px){
	.header__top .btn,
	.header__right__phones a .ico{
		display: none;
	}
}
/*399*/ 