/*partner*/ 
.partner{

}
.partner__list{
	margin: 0 -1em;
	justify-content: center;
	li{
		width: 12.5em;
		padding: 0 1em;
		margin-bottom: 2em;
		display: flex;
		align-items: center;
		justify-content: center;
		img{
			
		}
	}
}